* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

html{
    background-color: #273238;
}


@media only screen and (min-width: 600px) {
    button:hover{
        animation: gradient 1s ease-in normal;
        background-position: 100% 50%;
        border: 5px solid #FF4655;
        color: #FF4655;
    }
  }

.defaultButton {
    width: 48%;
    height: 48%;
    margin: 1%;
    float: left;
    border: 5px solid black;
    background: linear-gradient(100deg, #FF4655 50%, #0f1923 50%);
    background-size: 400% 400%;
    transition: 1s;
}

.activatedButton {
    animation: gradient 1s ease-in normal;
    background-position: 100% 50%;
    border: 5px solid #FF4655;
    color: #FF4655;
}

p {
    text-align: center;
}

div {
    width: 100%;
}

#connectionDiv {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#connectionText {
    float: left;
}

#connectionSymbol {
    width: 25px;
    height: 25px;
    background-color: orange;
    float: left;
    border-radius: 100%;
    margin-left: 10px;
}